<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/index.js" defer></script>

    <title>MikA'Dventures</title>
</head>

<body>
    <header class="site-hearder">
        <button id="menuBtn" class="openbtn"> &#9776; Menu</button>
        <nav id="mySidebar" class="sidebar">
            <a href="/">Accueil</a>
            <span>Mieux me connaitre</span>
            <ul>
                <li><a href="/Bio">Qui suis-je ?</a></li>
                <li><a href="">Mon parcours</a></li>
                <li><a href="">Mes expériences</a></li>
                <li><a href="">Mes passions</a></li>
            </ul>
            <span>Mes réalisations</span>
            <ul>
                <li><a href="">Pro</a></li>
                <li><a href="">Perso</a></li>
            </ul>

        </nav>

    </header>