/*Main style*/
html, body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color : white;
    font-family: "Rubik", sans-serif;
}

.site-content {
    flex: 1;
}

body {
    background-image: url(../picture/2184587-fond-moderne-avec-effet-paillettes-abstrait-realiste-papier-decoupe-fond-abstrait-geometrique-fond-vecteur-3d-illustration-illustratio.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/*Nav style*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #60bac7;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar li, a, span {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar > span:first-child {
    padding-top: px;
}

.sidebar span {
    font-style: italic;
}

.sidebar a:hover {
    color: #457C8B;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1rem;
    cursor: pointer;
    background-color: #60bac7;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    color: #457C8B;
}

.hidden {
    display: none;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/*Footer style*/

footer {
    display: flex;
    justify-content: center;
    
}
