<%- include('partials/header') %>

    <main class="site-content">

        <div id="main">
            <h1>Mika ? Vous avez dit Mika ?</h1>
            <div class="biography_content">
                <img src="/picture/Michael_K.jpg" alt="Photographie de Michael KRAKOWIAK" class="biography_picture">
                <div class=" biography_description">
                    <p>Je m'appelle Michael KRAKOWIAK, alias Mika.</p>
                    <p>J'habite en France, au nord de Lyon, plus particulièrement dans un petit village entouré de
                        vignes
                        dans le Beaujolais 🍷</p>
                    <p>Je suis développeur Web, passionné de sports, de jeux-vidéos, et bien entendu...de jeux-vidéos de
                        sports (mais pas que !). </p>
                    <p>Curieux, toujours désireux d'apprendre de nouvelles choses, de nouveux langages, de recontrer de
                        nouvelles personnes.</p>
                    <p>Mon côté jovial, mon dynamisme et mon sens de la communications sont quelques unes de mes bottes
                        secretes pour faciliter la collaboration et le travail en groupe.</p>

                    <a href="/parcours" class="biography_link">En savoir plus sur mon parcours...</a>
                </div>
            </div>
        </div>

    </main>

    <%- include('partials/footer') %>