<%- include('partials/header') %>

    <main class="site-content">

        <div id="main">
            <h1>Mon parcours</h1>
            <h2>... ou encore, la génèse d'un (apprenti) sorcier !</h2>
            <div>
                <div>
                    <h3>Version courte :</h3>

                    <section class="school">
                        <h4>Formations</h4>
                        <ul>
                            <li class="school_years">2023-2024 : Titre professionnel Developpeur Web et Web Mobile,
                                spécialisé en
                                Accessibilité Numérique</li>
                            <li class="school_informations">Ecole O'Clock - Paris (Ile de France)</li>
                            <li class="school_years">2004-2006 : BTS Bio Analyses et Contrôle Qualité</li>
                            <li class="school_informations">Lycée Jean Baptiste de La Salle - Lyon (Rhône)</li>
                            <li class="school_years">2001-2004 : Baccalauréat Scientifique Option Sciences et Vie de la
                                Terre</li>
                            <li class="school_informations">Lycée Champagnat - Saint Symphorien sur Coise (Rhône)</li>
                        </ul>
                    </section>

                    <section>
                        <h4>Expériences professionnelles</h4>
                        <div class="experience">
                            <div class="experience_container">
                                <h5 class="experience_title">Développeur Web - Ecole O'clock (Paris - en distanciel)
                                </h5>
                                <p class="experience_time">A venir en Avril 2024</p>
                                <p class="experience_content">Projet de fin de formation. Développement d'une
                                    application
                                    web en équipe et méthode agile, de sa conception jusqu'à son déploiement.</p>
                            </div>
                            <div class="experience_container">
                                <h5 class="experience_title">Technicien Supérieur de laboratoire - BioMerieux (Marcy
                                    l'Etoile)</h5>
                                <p class="experience_time">2008 - 2023</p>
                                <p class="experience_content">Différents postes occupés dans différents services
                                    (production, support industriel, industrialisation et recherche et développement).
                                </p>
                                <p class="experience_skills">Skills : Conception de trames et d'outils Excel / VBA.
                                    Rigueur, capacités d'analyse et résolution de problèmes</p>
                            </div>
                            <div class="experience_container">
                                <h5 class="experience_title">Compilateur/Rédacteur - Institut d'Expertise Clinique
                                    (Lyon)</h5>
                                <p class="experience_time">2006 - 2008</p>
                                <p class="experience_content">Compilation et études statistiques de données provenant de "Cahiers de Laboratoire" remplis par les Dermatologues pour des études cliniques réalisées en France, mais aussi dans les filiales du groupe (Bulgarie, Chine, Japon, Corrée du Sud, Singapour et Afrique du Sud). Rédaction de rapports et résumés réglementaires pour les clients.</p>
                                <p class="experience_skills">Skills : Conception de trames et d'outils Excel, communication à l'internationnal, rédaction de documents réglementaires (en français et/ou anglais).
                                    Rigueur, capacités d'analyse et résolution de problèmes</p>
                            </div>

                        </div>
                    </section>







                </div>

                <p href="/parcours" class="biography_link">Scrool down pour la version longue 🍿</p>
            </div>
        </div>
        </div>

    </main>

    <%- include('partials/footer') %>