<%- include('partials/header') %>

<main class="site-content">

    <div id="main">
        <h1>Bienvenue sur MikA'Dventures</h1>
        <p>Jeune développeur, mais confirmé par l'expérience dans le monde du travail.</p>
        <p>Venez me découvrir au travers de ce site et suivre mes aventures épiques et mon adoubement en tant que
            Développeur !</p>
        <p>Bonne navigation.</p>
    </div>

</main>

<%- include('partials/footer') %>